@page
@model IndexModel
@using Igtampe.Aurora;
@{ ViewData["Title"] = "Aurora WEB"; }

<style>
    hr {
        height: 2px;
        background-color: white;
        border: none;
    }
</style>

<div>
    <table class="text-center" style="background-color: #1a1a1a; margin:auto;">
        <tr>
            <td style="padding:20px">
                <table style="background-color: #262626; margin-left: auto; margin-right: auto">
                    <tr>
                        <td rowspan="3" style="padding-left: 10px; padding-right: 10px"><a href="http://igtnet-w.ddns.net:100/"><img src="http://igtnet-w.ddns.net:100/artemis.png" alt="Artemis Logo" style="height:85px; width:85px" /></a></td>
                        <td style="text-align: left; color: white; padding-left: 10px; padding-right: 10px"> <b>AURORA: Artemis Uptime Relaunch and Outage Registry Administrator</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; color: white; padding-left: 10px; padding-right: 10px">@Model.Collection.Count outage(s) in the last @Convert.ToInt32(Model.Collection.OldestOutageAgo.TotalDays) day(s)</td>
                    </tr>
                    <tr>
                        <td style="text-align: left; color: white; padding-left: 10px; padding-right: 10px">@Model.Collection.Count24 outage(s) in the last 24 hours</td>
                    </tr>
                </table>

                <br />
                <div style="color:white"><a href="./AllOutages">Click here to see all outages</a></div>

                <br />
                <hr style="color:white" />
                <br />
                <b style="color:white;">Statistics:</b>
                <table style="margin-left:auto; margin-right:auto">
                    <tr>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">Current Uptime:</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Uptime.Days Day(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Uptime.Hours Hour(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Uptime.Minutes Minute(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Uptime.Seconds Second(s)</td>
                    </tr>
                    <tr>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">Last Downtime:</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.LastOutage.Duration.Days Day(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.LastOutage.Duration.Hours Hour(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.LastOutage.Duration.Minutes Minute(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.LastOutage.Duration.Seconds Second(s)</td>
                    </tr>
                    <tr>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">Max Uptime:</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.MaxUptime.Days Day(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.MaxUptime.Hours Hour(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.MaxUptime.Minutes Minute(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.MaxUptime.Seconds Second(s)</td>
                    </tr>
                    <tr>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">Max Downtime:</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.MaxOutage.Days Day(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.MaxOutage.Hours Hour(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.MaxOutage.Minutes Minute(s),</td>
                        <td style="color:white; text-align:right; padding-left:5px; padding-right:5px">@Model.Collection.MaxOutage.Seconds Second(s)</td>
                    </tr>
                </table>

                <br />
                <hr style="color:white" />
                <br />
                <table style="margin-left:auto; margin-right:auto">
                    <tr><td style="color:white"><b>The last outage was from</b></td></tr>
                    <tr><td></td></tr>
                    <tr><td style="color:red">@Model.Collection.LastOutage.Start.ToString()</td></tr>
                    <tr><td style="color:white">to</td></tr>
                    <tr><td style="color:greenyellow">@Model.Collection.LastOutage.End.ToString()</td></tr>
                </table>
                <br />
            </td>
        </tr>
    </table>

</div>
